# Analysis Report VI
Creating new variables(columns)

## Loading dataset

In [1]:
# libs
import pandas as pd

In [2]:
df_residential_prep = pd.read_csv('datasets/residential_prep.csv', sep=';')
print(df_residential_prep.shape)
df_residential_prep.head()

(1858, 9)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0
1,Apartamento,Vista Alegre,3,1,0,70,1200.0,0.0,0.0
2,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,0.0,0.0
3,Casa de Condomínio,Ramos,2,2,0,65,1000.0,0.0,0.0
4,Apartamento,Centro,1,0,0,36,1200.0,0.0,0.0

## Calculating values

In [3]:
# Adding a column for total price
df_residential_prep['Valor Bruto'] = df_residential_prep.Valor + df_residential_prep.Condominio + df_residential_prep.IPTU

df_residential_prep

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor Bruto
0,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0,7000.0
1,Apartamento,Vista Alegre,3,1,0,70,1200.0,0.0,0.0,1200.0
2,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,0.0,0.0,22000.0
3,Casa de Condomínio,Ramos,2,2,0,65,1000.0,0.0,0.0,1000.0
4,Apartamento,Centro,1,0,0,36,1200.0,0.0,0.0,1200.0
...,...,...,...,...,...,...,...,...,...,...
1853,Casa,Campo Grande,1,0,0,50,600.0,0.0,0.0,600.0
1854,Casa de Vila,Pavuna,2,0,0,55,600.0,0.0,0.0,600.0
1855,Casa,Recreio dos Bandeirantes,4,2,2,352,6500.0,0.0,0.0,6500.0
1856,Casa,Bento Ribeiro,2,1,0,60,1400.0,0.0,0.0,1400.0
1857,Casa,Centro,5,0,1,160,5000.0,0.0,80.0,5080.0

In [4]:
# Adding a columns for average meter price
df_residential_prep['Valor m2'] = (df_residential_prep.Valor / df_residential_prep.Area).round(2)
df_residential_prep['Valor Bruto m2'] = (df_residential_prep['Valor Bruto'] / df_residential_prep.Area).round(2)


df_residential_prep

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor Bruto,Valor m2,Valor Bruto m2
0,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0,7000.0,70.00,70.00
1,Apartamento,Vista Alegre,3,1,0,70,1200.0,0.0,0.0,1200.0,17.14,17.14
2,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,0.0,0.0,22000.0,29.33,29.33
3,Casa de Condomínio,Ramos,2,2,0,65,1000.0,0.0,0.0,1000.0,15.38,15.38
4,Apartamento,Centro,1,0,0,36,1200.0,0.0,0.0,1200.0,33.33,33.33
...,...,...,...,...,...,...,...,...,...,...,...,...
1853,Casa,Campo Grande,1,0,0,50,600.0,0.0,0.0,600.0,12.00,12.00
1854,Casa de Vila,Pavuna,2,0,0,55,600.0,0.0,0.0,600.0,10.91,10.91
1855,Casa,Recreio dos Bandeirantes,4,2,2,352,6500.0,0.0,0.0,6500.0,18.47,18.47
1856,Casa,Bento Ribeiro,2,1,0,60,1400.0,0.0,0.0,1400.0,23.33,23.33
1857,Casa,Centro,5,0,1,160,5000.0,0.0,80.0,5080.0,31.25,31.75

In [5]:
# Adding a columns for average meter pric'
houses_type = ['Casa', 'Casa de Condomínio', 'Casa de Vila']
df_residential_prep['Tipo Agregado'] = df_residential_prep.Tipo.apply(lambda x: 'Casa' if x in houses_type else 'Apartmento')


df_residential_prep

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor Bruto,Valor m2,Valor Bruto m2,Tipo Agregado
0,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0,7000.0,70.00,70.00,Casa
1,Apartamento,Vista Alegre,3,1,0,70,1200.0,0.0,0.0,1200.0,17.14,17.14,Apartmento
2,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,0.0,0.0,22000.0,29.33,29.33,Casa
3,Casa de Condomínio,Ramos,2,2,0,65,1000.0,0.0,0.0,1000.0,15.38,15.38,Casa
4,Apartamento,Centro,1,0,0,36,1200.0,0.0,0.0,1200.0,33.33,33.33,Apartmento
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1853,Casa,Campo Grande,1,0,0,50,600.0,0.0,0.0,600.0,12.00,12.00,Casa
1854,Casa de Vila,Pavuna,2,0,0,55,600.0,0.0,0.0,600.0,10.91,10.91,Casa
1855,Casa,Recreio dos Bandeirantes,4,2,2,352,6500.0,0.0,0.0,6500.0,18.47,18.47,Casa
1856,Casa,Bento Ribeiro,2,1,0,60,1400.0,0.0,0.0,1400.0,23.33,23.33,Casa
1857,Casa,Centro,5,0,1,160,5000.0,0.0,80.0,5080.0,31.25,31.75,Casa

### Delete useless column

In [6]:
# After analysing data I decided for deleting total price and average meter price(total)
useless_cols = ['Valor Bruto', 'Valor Bruto m2']
df_residential_prep.drop(useless_cols, axis=1, inplace=True)

df_residential_prep

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor m2,Tipo Agregado
0,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0,70.00,Casa
1,Apartamento,Vista Alegre,3,1,0,70,1200.0,0.0,0.0,17.14,Apartmento
2,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,0.0,0.0,29.33,Casa
3,Casa de Condomínio,Ramos,2,2,0,65,1000.0,0.0,0.0,15.38,Casa
4,Apartamento,Centro,1,0,0,36,1200.0,0.0,0.0,33.33,Apartmento
...,...,...,...,...,...,...,...,...,...,...,...
1853,Casa,Campo Grande,1,0,0,50,600.0,0.0,0.0,12.00,Casa
1854,Casa de Vila,Pavuna,2,0,0,55,600.0,0.0,0.0,10.91,Casa
1855,Casa,Recreio dos Bandeirantes,4,2,2,352,6500.0,0.0,0.0,18.47,Casa
1856,Casa,Bento Ribeiro,2,1,0,60,1400.0,0.0,0.0,23.33,Casa
1857,Casa,Centro,5,0,1,160,5000.0,0.0,80.0,31.25,Casa

## Exporting Dataset

In [10]:
# saving to .csv
df_residential_prep.to_csv('datasets/residential_prep.csv', sep=';', index=False)